.group {
  min-height: 100px;
  padding-bottom: 12px;
  ol {
    font-size: 0.9em;
    padding: 0 0 0 16px;
  }
  li {
    list-style-type: decimal;
    margin: 8px 0;
    &.active {
      color: $color-link-active;
      text-decoration: underline;
    }
    a {
      color: $color-link;
    }
  }
}
.more {
  color: $color-link;
  text-align: right;
}
