.group {
  min-height: 100px;
  padding-bottom: 24px;
  ul {
    padding-left: 12px;
    font-size: 1em;
  }
  li {
    color: $color-link;
    margin: 4px 0;
    &.active {
      color: $color-link-active;
      text-decoration: underline;
    }
  }
}
