.ads {
  width: 100%;
  min-width: 270px;
  border: 1px solid $color-grey;
  background-color: $color-grey-0;
}
.frame {
  width: 100%;
  visibility: hidden;
  &.show {
    visibility: visible;
  }
}
