$trans: 0.3s;
$headerHeight: 300px;
$mb-headerHeight: 60px;
$navHeight: 100px;
.header {
  position: relative;
  width: 100%;
  height: $headerHeight;
  background-color: $color-grey;
  background-image: url("/up.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0 100%;
  text-align: center;
  transition: transform $trans;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .bars {
    display: none;
  }
}
.content {
  padding: 3 * $p;
  overflow-x: auto;
}
.brand {
  font-size: 2.1rem;
  font-weight: 500;
  .l {
    margin-right: 8px;
    color: beige;
  }
  .r {
    color: $color-emphasis;
  }
}
.subtitle {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  margin: $p * 3 0 0 0;
  @media screen and (max-width: $bp-md) {
    display: none;
  }
}
.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  box-shadow: $shadow-px $color-grey;
  color: #fff;
  .brand {
    display: none;
  }
  .close {
    display: none;
  }
  ul {
    flex-grow: 1;
    margin: 0;
    display: flex;
    justify-content: center;
  }
  li + li {
    margin-left: $p * 3;
  }
}
@media screen and (min-width: $bp-md) {
  .nav {
    height: $navHeight;
    background-color: $color-grey;
    background-image: url("/down.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0 0;
  }
  .pcTransition + .nav {
    transition: transform $trans;
  }
  .fixed + .nav,
  .hide + .nav {
    position: sticky;
    top: 0;
    left: 0;
    .brand {
      display: block;
      flex: 1 0 0;
      opacity: 1;
    }
  }
  .fixed + .nav {
    ul {
      flex-grow: 0;
    }
  }
  .hide + .nav {
    transform: translateY(-100%);
    ul {
      flex-grow: 0;
    }
  }
}

@media screen and (max-width: $bp-md) {
  .header {
    position: sticky;
    top: 0;
    padding: 12px 0;
    box-shadow: $shadow-px $color-grey;
    height: $mb-headerHeight;
    .bars {
      display: block;
      position: absolute;
      left: 16px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 24px;
    }
    &.fixed {
      transform: translateY(0%);
    }
    &.hide {
      transform: translateY(-100%);
    }
  }
  .nav {
    position: fixed;
    display: block;
    left: -100%;
    top: 0;
    height: 100vh;
    z-index: 9;
    transform: translateX(0%);
    transition: transform $trans;
    padding: 3 * $p;
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0.7);
    .brand {
      display: none;
    }
    ul {
      display: block;
      margin: 16px 0 0 0;
    }
    li + li {
      margin: 5 * $p 0;
    }
    li {
      font-size: 18px;
      text-align: center;
    }
    a {
      display: inline-block;
      width: 100%;
    }
  }
  .nav.show {
    transform: translateX(100%);
  }
  .nav .close {
    display: block;
    font-size: 24px;
    text-align: right;
  }
}
