$trans: 0.3s;
$headerHeight: 200px;
$md-headerHeight: 180px;
$mb-headerHeight: 60px;
$navHeight: 100px;
.header {
  position: relative;
  width: 100%;
  height: $headerHeight;
  background-color: $color-grey;
  background-image: url("/up.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0 100%;
  transition: transform $trans;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2; // to be above nav
  @media screen and (max-width: $bp-md) {
    height: $md-headerHeight;
  }
  .bars {
    display: none;
  }
}
.body {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 12px 0;
}
.content {
  flex: 0 1 auto;
  background-color: #fff;
  border: 1px solid black;
  display: flex;
  overflow-x: auto;
}
.aside {
  margin-left: 12px;
  flex: 0 0 250px;
  background-color: #fff;
  border: 1px solid black;
}
@media screen and(max-width: $bp-lg) {
  .body {
    flex-wrap: wrap;
  }
  .content {
    flex: 1 0 100%;
  }
  .aside {
    margin-left: 0;
    flex: 1 0 100%;
  }
}
.brand {
  font-size: 2.6rem;
  font-weight: 400;
  .l {
    display: inline-block;
    color: $color-light;
  }
  .r {
    display: inline-block;
    color: $color-emphasis;
  }
}
.subtitle {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  margin: $p * 3 0 0 0;
  @media screen and (max-width: $bp-sm) {
    display: none;
  }
}
.nav {
  position: relative;
  width: 100%;
  padding: 24px;
  box-shadow: $shadow-px $color-grey;
  color: #fff;
  z-index: 1;
  .close {
    display: none;
  }
  ul {
    margin: 0;
  }
  li {
    font-size: 18px;
    text-shadow: $shadow-px $color-dark;
  }
  li.active span {
    border-bottom: 2px solid $color-main;
  }
  li + li {
    margin-left: $p * 3;
  }
}
@media screen and (min-width: $bp-sm) {
  .nav {
    height: $navHeight;
    background-color: $color-grey;
    background-image: url("/down.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0 0;
    .brand {
      position: absolute;
      left: 24px;
      top: 50%;
      transform: translateY(-50%);
      opacity: 0;
      transition: opacity $trans;
      pointer-events: none;
    }
    ul {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .pcTransition + .nav {
    transition: transform $trans;
  }
  .fixed + .nav,
  .hide + .nav {
    position: sticky;
    top: 0;
    left: 0;
    .brand {
      opacity: 1;
      pointer-events: initial;
    }
  }
  .fixed + .nav {
    ul {
      justify-content: flex-end;
    }
  }
  .hide + .nav {
    transform: translateY(-100%);
    ul {
      justify-content: flex-end;
    }
  }
}

@media screen and (max-width: $bp-sm) {
  .header {
    position: sticky;
    top: 0;
    padding: 12px 0;
    box-shadow: $shadow-px $color-grey;
    height: $mb-headerHeight;
    .bars {
      display: block;
      position: absolute;
      left: 16px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 24px;
    }
    &.fixed {
      transform: translateY(0%);
    }
    &.hide {
      transform: translateY(-100%);
    }
  }
  .nav {
    position: fixed;
    display: block;
    left: -100%;
    top: 0;
    height: 100vh;
    z-index: 9;
    transform: translateX(0%);
    transition: transform $trans;
    padding: 3 * $p;
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0.7);
    .brand {
      display: none;
    }
    ul {
      display: block;
      margin: 16px 0 0 0;
    }
    li + li {
      margin: 5 * $p 0;
    }
    li {
      font-size: 18px;
      text-align: center;
    }
    a {
      display: inline-block;
      width: 100%;
    }
  }
  .nav.show {
    transform: translateX(100%);
  }
  .nav .close {
    display: block;
    font-size: 24px;
    text-align: right;
  }
}
