$trans: 0.3s;
.header {
  position: relative;
  width: 100%;
  height: $app-headerHeight;
  background-color: $color-grey;
  background-image: url("/up.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0 100%;
  transition: transform $trans;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  z-index: 300; // to be above nav
  .bars {
    display: none;
  }
}
.body {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 12px 0 24px 0;
  @media screen and (max-width: $bp) {
    padding: 0 0 8px 0;
  }
}
.content {
  flex: 0 1 $bp-xlg;
  display: flex;
  overflow-x: auto;
}
.aside {
  margin-left: 12px;
  flex: 0 0 $app-aside;
  @media screen and (max-width: $bp) {
    padding: 8px;
  }
}
@media screen and(max-width: $bp-lg) {
  .body {
    flex-wrap: wrap;
  }
  .content {
    flex: 1 0 100%;
  }
  .aside {
    margin-left: 0;
    flex: 1 0 100%;
  }
}
.brand {
  font-size: 1em;
  line-height: 1;
  .lg {
    font-size: 2.2em;
  }
  .l {
    display: inline-block;
    color: $color-light;
    text-align: right;
  }
  .r {
    display: inline-block;
    color: $color-main;
  }
}
.subtitle {
  color: white;
  font-size: 1em;
  font-weight: normal;
  margin: $p * 10 0 0 0;
  @media screen and (max-width: $bp) {
    display: none;
  }
}
.nav {
  position: relative;
  width: 100%;
  padding: 24px;
  box-shadow: $shadow-px $color-grey-2;
  color: $color-light;
  z-index: 200;
  .close {
    display: none;
  }
  ul {
    margin: 0;
  }
  li {
    font-size: 18px;
    font-weight: bold;
  }
  li.active span {
    border-bottom: 2px solid $color-main;
  }
  li + li {
    margin-left: 1.2em;
  }
}
@media screen and (min-width: $bp + 1px) {
  .nav {
    height: $app-navHeight;
    background-color: $color-grey;
    background-image: url("/down.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0 0;
    .brand {
      position: absolute;
      left: 24px;
      top: 50%;
      transform: translateY(-50%);
      opacity: 0;
      pointer-events: none;
    }
    ul {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .pcTransition + .nav {
    transition: transform $trans;
  }
  .fixed + .nav,
  .hide + .nav {
    position: sticky;
    top: 0;
    left: 0;
    .brand {
      opacity: 1;
      pointer-events: initial;
    }
  }
  .fixed + .nav {
    ul {
      justify-content: flex-end;
    }
  }
  .hide + .nav {
    transform: translateY(-100%);
    box-shadow: none;
    ul {
      justify-content: flex-end;
    }
  }
}

@media screen and (max-width: $bp) {
  .header {
    position: sticky;
    top: 0;
    padding: 12px 0;
    box-shadow: $shadow-px $color-grey-2;
    height: $app-mb-headerHeight;
    .bars {
      display: block;
      position: absolute;
      left: 16px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 24px;
      color: $color-light;
      opacity: 0.9;
    }
    &.fixed {
      transform: translateY(0%);
    }
    &.hide {
      transform: translateY(-100%);
      box-shadow: none;
    }
  }
  .nav {
    position: fixed;
    display: block;
    left: -100%;
    top: 0;
    height: 100vh;
    z-index: 900;
    transform: translateX(0%);
    transition: transform $trans;
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0.7);
    .brand {
      display: none;
    }
    ul {
      display: block;
      margin: 48px 0 0 0;
    }
    li + li {
      margin: 5 * $p 0;
    }
    li {
      font-size: 20px;
      text-align: center;
    }
    a {
      display: inline-block;
      width: 100%;
    }
  }
  .nav.show {
    transform: translateX(100%);
  }
  .nav .close {
    display: block;
    font-size: 24px;
    text-align: right;
  }
}
