$cube: 35px;
.author {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.authorAvatar {
  flex: 0 0 $cube;
  margin-right: 4px;
}
.avatar {
  background-color: grey;
  border-radius: 50%;
  width: $cube;
  height: $cube;
  overflow: hidden;
  img {
    width: 100%;
  }
}
