.card {
  padding: 2 * $p 3 * $p;
  box-shadow: 3px 3px 3px $color-grey;
  background-color: $color-white;
  border: 1px solid $color-grey;
  border-radius: $block-radius;
  overflow: hidden;
}
.card_title {
  margin: -2 * $p -3 * $p 2 * $p -3 * $p;
  padding: 12px 0;
  text-align: center;
}
