.card {
  padding: 2 * $p 3 * $p;
  box-shadow: $box-shadow $color-grey-2;
  background-color: $color-white;
}
.card_title {
  background: linear-gradient(to right, $color-light, $color-main);
  margin: -2 * $p -3 * $p 2 * $p -3 * $p;
  padding: 12px 0;
}
