.imgWrap {
  width: 100%;
  max-width: $bp-md;
  display: block;
  border: 1px solid $color-grey;
  box-shadow: $box-shadow $color-grey;
  transition: all 0.5s;
  &.canZoom {
    cursor: crosshair;
    border: 1px solid $color-grey-2;
    box-shadow: $box-shadow $color-grey-2;
    .icon {
      background-color: $color-grey-2;
    }
  }
  .img {
    display: block;
    width: 100%;
    position: relative;
    overflow: visible;
  }
  .hint {
    background-color: #fff;
    opacity: 0.7;
    padding: 4px 8px;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 12px;
    color: #666;
    pointer-events: none;
  }
  img {
    width: 100%;
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }
  .info {
    color: $color-grey-2;
    padding: 8px;
    font-style: italic;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    font-size: 0.9em;
  }
  .icon {
    background-color: $color-grey;
    display: block;
    color: #fff;
    cursor: pointer;
    width: 2em;
    height: 2em;
    font-size: 0.9em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
  }
  small::before {
    content: "▲ ";
  }
}

.zoomArea {
  position: absolute;
  display: none;
  width: 40%;
  border: 1px solid black;
  pointer-events: none;
  overflow: hidden;
  background-color: white;
  canvas {
    width: 100%;
  }
  img {
    position: absolute;
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }
}
