.wrap {
  position: relative;
}
.spinner {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  &::after {
    content: "";
    width: 40px;
    height: 40px;
    border: 3px dashed $color-main;
    border-radius: 50%;
    animation: load 2s infinite;
  }
}
@keyframes load {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
