$img-w-pc: 300px;
$img-w-mb: 200px;
$img-ratio: 9/16;
.list {
  .item + .item {
    margin-top: 12px;
  }
}

$gap: 12px;
.verticalList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: -$gap;
  .verticalItem {
    margin-right: $gap;
    margin-bottom: $gap;
    flex: 0 0 calc(50% - #{$gap});
    @media screen and (max-width: $bp-xlg) {
      & {
        flex: 0 0 calc(100% - #{$gap});
      }
    }
  }

  .verticalItem.simple {
    flex: 0 0 calc(100% / 3 - #{$gap});
    @media screen and (max-width: $bp-screen) {
      & {
        flex: 0 0 calc(50% - #{$gap});
      }
    }
    @media screen and (max-width: $bp) {
      & {
        flex: 0 0 calc(100% - #{$gap});
      }
    }
    h2 {
      font-size: 1em;
    }
  }
}
.verticalItem {
  padding: 0;
  display: flex;
  flex-direction: column;
  .imageBolck {
    width: 100%;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to top, $color-grey-2, $color-grey);
    .pad {
      width: 100%;
      height: 0;
      padding-bottom: 100% * $img-ratio;
    }
    img {
      display: block;
      position: absolute;
      width: 100%;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
  }
  .titleBlock {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #fff;
    h2 {
      margin: 0;
      padding: 0.5em 1em 0.5em 1em;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      font-size: 1.3em;
      font-weight: 500;
      background: rgba(0, 0, 0, 0.4);
      box-shadow: 0px -3px 4px rgba(0, 0, 0, 0.2);
    }
  }

  .group {
    font-size: 12px;
    margin: $gap 0;
    padding-left: $gap;
  }
  .tags {
    margin: $gap 0;
    padding-left: $gap;
    font-size: 12px;
  }
  summary {
    padding: 0 $gap;
    margin: $gap 0;
    font-size: 0.9em;
    opacity: 0.8;
    flex-grow: 1;
  }
  .go {
    text-align: right;
    color: $color-link;
    font-size: 1em;
    margin-right: 8px;
    margin-bottom: 8px;
  }
}

.item {
  color: #666;
  .block {
    display: flex;
    align-items: center;
    height: 100%;
  }
  .meta {
    flex: 1 1 0;
    margin-right: 12px;
    align-self: stretch;
  }
  .title {
    color: $color-dark;
  }
  .imageBolck {
    flex: 0 0 $img-w-pc;
    height: $img-w-pc * $img-ratio;
    background-color: $color-grey;
    border: 1px solid $color-grey;
    position: relative;
    overflow: hidden;
    img {
      position: absolute;
      width: 100%;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
    @media screen and (max-width: $bp) {
      flex: 0 0 $img-w-mb;
      height: $img-w-mb * $img-ratio;
    }
  }
  .group {
    font-size: 12px;
    margin: 12px 0;
    padding-left: 8px;
  }
  .tags {
    margin: 12px 0;
    padding-left: 8px;
    font-size: 12px;
  }
  .preview {
    margin: 12px 0;
    padding: 0 12px;
    color: $color-dark;
  }
  .go {
    text-align: right;
    color: $color-link;
    font-size: 1.2em;
    margin-top: 4px;
  }
}
@media screen and (max-width: $bp-sm) {
  .item {
    .block {
      flex-direction: column-reverse;
    }
    .meta {
      flex: 1 1 0;
    }
    .imageBolck {
      flex: 1 1 0;
      width: 100%;
      padding-bottom: 100% * $img-ratio;
    }
  }
}
.author {
  margin: $gap 0;
  padding-left: $gap;
  font-size: 12px;
}

.date {
  margin: $gap 0;
  padding-left: $gap;
  font-style: italic;
  color: $color-grey-2;
  font-size: 12px;
  span + span {
    margin-left: 8px;
  }
}

.metatitle {
  border-bottom: 1px solid $color-main;
}

.metatext {
  padding-left: 12px;
  .tag {
    font-size: 12px;
  }
  .groupTag {
    font-size: 12px;
    margin: 12px 0;
  }
}

.metaImg {
  width: 100%;
  display: block;
  margin: $gap 0;
}

.hr {
  margin: 20px 0;
  border-top: 1px solid $color-grey;
}
