.list {
  .item + .item {
    margin-top: 12px;
  }
}

.item {
  color: #666;
  .block {
    display: flex;
    align-items: center;
    height: 100%;
  }
  .meta {
    flex: 1 1 0;
    margin-right: 12px;
    align-self: stretch;
  }
  .title {
    color: $color-dark;
  }
  .imageBolck {
    flex: 0 0 200px;
    height: 150px;
    border: 1px solid $color-grey;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    @media screen and (max-width: $bp) {
      flex: 0 0 120px;
      height: 90px;
    }
  }
  .group {
    font-size: 12px;
    margin: 12px 0;
    padding-left: 8px;
  }
  .tags {
    margin: 12px 0;
    padding-left: 8px;
    font-size: 12px;
  }
  .preview {
    margin: 12px 0;
    padding: 0 12px;
    color: $color-dark;
  }
  .go {
    text-align: right;
    color: $color-link;
    font-size: 1.2em;
  }
}
.author {
  margin: 12px 0;
  padding-left: 8px;
  color: $color-grey-2;
  font-size: 12px;
}

.date {
  margin: 12px 0;
  padding-left: 8px;
  font-style: italic;
  color: $color-grey-2;
  font-size: 12px;
  span + span {
    margin-left: 8px;
  }
}

.metadata {
  position: relative;
  overflow: hidden;
  .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-grey;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    filter: blur(1px) opacity(0.9);
  }
  .metatext {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #fff, $alpha: 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1 {
      margin: 12px;
      padding: 0 12px;
      text-shadow: 0px 0px 3px $color-light;
    }
    .groupTag {
      margin: 12px 0;
    }
  }
  canvas {
    width: 100%;
    display: block;
  }
}

.hr {
  margin: 20px 0;
  border: 1px solid $color-grey;
}
