$img-w-pc: 300px;
$img-w-mb: 200px;
$img-ratio: 9/16;
.list {
  .item + .item {
    margin-top: 12px;
  }
}

.item {
  color: #666;
  .block {
    display: flex;
    align-items: center;
    height: 100%;
  }
  .meta {
    flex: 1 1 0;
    margin-right: 12px;
    align-self: stretch;
  }
  .title {
    color: $color-dark;
  }
  .imageBolck {
    flex: 0 0 $img-w-pc;
    height: $img-w-pc * $img-ratio;
    background-color: $color-grey;
    border: 1px solid $color-grey;
    position: relative;
    overflow: hidden;
    img {
      position: absolute;
      width: 100%;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
    @media screen and (max-width: $bp) {
      flex: 0 0 $img-w-mb;
      height: $img-w-mb * $img-ratio;
    }
  }
  .group {
    font-size: 12px;
    margin: 12px 0;
    padding-left: 8px;
  }
  .tags {
    margin: 12px 0;
    padding-left: 8px;
    font-size: 12px;
  }
  .preview {
    margin: 12px 0;
    padding: 0 12px;
    color: $color-dark;
  }
  .go {
    text-align: right;
    color: $color-link;
    font-size: 1.2em;
    margin-top: 4px;
  }
}
@media screen and (max-width: $bp-sm) {
  .item {
    .block {
      flex-direction: column-reverse;
    }
    .meta {
      flex: 1 1 0;
    }
    .imageBolck {
      flex: 1 1 0;
      width: 100%;
      padding-bottom: 100% * $img-ratio;
    }
  }
}

.info {
  max-width: $bp-md;
  margin: 0 auto;
}

.author {
  margin: 12px 0;
  padding-left: 8px;
  color: $color-grey-2;
  font-size: 12px;
}

.date {
  margin: 12px 0;
  padding-left: 8px;
  font-style: italic;
  color: $color-grey-2;
  font-size: 12px;
  span + span {
    margin-left: 8px;
  }
}

.metadata {
  position: relative;
  overflow: hidden;
  .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-grey;
    overflow: hidden;
    display: flex;
    align-items: center;
    img {
      width: 100%;
      filter: blur(2px);
    }
  }
  .metatext {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #fff, $alpha: 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1 {
      margin: 12px;
      padding: 0 12px;
    }
    .tag {
      font-size: 12px;
    }
    .groupTag {
      font-size: 12px;
      margin: 12px 0;
    }
  }
  canvas {
    width: 100%;
    display: block;
  }
}

// Metadata title
.pctitle {
  text-shadow: 0px 0px 3px $color-light;
}
.mbtitle {
  display: none;
}
@media screen and (max-width: $bp-sm) {
  .pctitle {
    display: none;
  }
  .mbtitle {
    display: block;
  }
}

.hr {
  margin: 20px 0;
  border: 1px solid $color-grey;
}
