$img-w-pc: 300px;
$img-w-mb: 200px;
$img-ratio: 9/16;
.list {
  .item + .item {
    margin-top: 12px;
  }
}

$gap: 12px;
.verticalList {
  display: flex;
  flex-wrap: wrap;
  margin-right: -$gap;
  .verticalItem {
    margin-right: $gap;
    margin-bottom: $gap;
    flex: 0 0 calc(50% - #{$gap});
  }
  @media screen and (max-width: $bp) {
    margin-right: initial;
    .verticalItem {
      flex: 0 0 100%;
    }
  }
}
.verticalItem {
  padding: 0;
  .imageBolck {
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: $color-grey;
    .pad {
      width: 100%;
      height: 0;
      padding-bottom: 100% * $img-ratio;
    }
    img {
      display: block;
      position: absolute;
      width: 100%;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
  }
  .titleBlock {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0) 60%);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #fff;
    padding: 0 1em;
    h2 {
      font-size: 1.3em;
    }
  }

  .group {
    font-size: 12px;
    margin: $gap 0;
    padding-left: $gap;
  }
  .tags {
    margin: $gap 0;
    padding-left: $gap;
    font-size: 12px;
  }
  .preview {
    display: flex;
    flex-direction: column;
  }
  summary {
    padding: 0 $gap;
    margin: $gap 0;
    font-size: 0.9em;
  }
  .go {
    text-align: right;
    color: $color-link;
    font-size: 1em;
    margin-right: 8px;
    margin-bottom: 8px;
  }
}

.item {
  color: #666;
  .block {
    display: flex;
    align-items: center;
    height: 100%;
  }
  .meta {
    flex: 1 1 0;
    margin-right: 12px;
    align-self: stretch;
  }
  .title {
    color: $color-dark;
  }
  .imageBolck {
    flex: 0 0 $img-w-pc;
    height: $img-w-pc * $img-ratio;
    background-color: $color-grey;
    border: 1px solid $color-grey;
    position: relative;
    overflow: hidden;
    img {
      position: absolute;
      width: 100%;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
    @media screen and (max-width: $bp) {
      flex: 0 0 $img-w-mb;
      height: $img-w-mb * $img-ratio;
    }
  }
  .group {
    font-size: 12px;
    margin: 12px 0;
    padding-left: 8px;
  }
  .tags {
    margin: 12px 0;
    padding-left: 8px;
    font-size: 12px;
  }
  .preview {
    margin: 12px 0;
    padding: 0 12px;
    color: $color-dark;
  }
  .go {
    text-align: right;
    color: $color-link;
    font-size: 1.2em;
    margin-top: 4px;
  }
}
@media screen and (max-width: $bp-sm) {
  .item {
    .block {
      flex-direction: column-reverse;
    }
    .meta {
      flex: 1 1 0;
    }
    .imageBolck {
      flex: 1 1 0;
      width: 100%;
      padding-bottom: 100% * $img-ratio;
    }
  }
}

.info {
  max-width: $bp-md;
  margin: 0 auto;
}

.author {
  margin: 12px 0;
  padding-left: 8px;
  color: $color-grey-2;
  font-size: 12px;
}

.date {
  margin: $gap 0;
  padding-left: $gap;
  font-style: italic;
  color: $color-grey-2;
  font-size: 12px;
  span + span {
    margin-left: 8px;
  }
}

.metadata {
  position: relative;
  overflow: hidden;
  .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-grey;
    overflow: hidden;
    display: flex;
    align-items: center;
    img {
      width: 100%;
      //filter: blur(1px);
      // border: 1px solid $color-grey;
    }
  }
  .metatext {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0) 100%
    );
    h1 {
      margin: 12px;
      padding: 0 12px;
      color: #fff;
    }
    .tag {
      font-size: 12px;
    }
    .groupTag {
      font-size: 12px;
      margin: 12px 0;
    }
  }
  canvas {
    width: 100%;
    display: block;
  }
}

// Metadata title
.mbtitle {
  display: none;
}
@media screen and (max-width: $bp-sm) {
  .pctitle {
    display: none;
  }
  .mbtitle {
    display: block;
  }
}

.hr {
  margin: 20px 0;
  border-top: 1px solid $color-grey;
}
