.tree {
  &:not(.depth-1) {
    padding-left: 12px;
  }
  font-size: 0.9em;
  li {
    margin-bottom: 0.7em;
    padding: 0 0.5em;
  }
  &.depth-2 > li {
    border-left: 2px solid $color-main;
  }
}
