.fixed {
  position: fixed;
  top: calc(#{$app-navHeight} + 10px);
}
.menu {
  pointer-events: initial;
  z-index: 800;
  max-height: 65vh;
  overflow-y: auto;
  width: $app-aside;
}
.iconRight {
  display: flex;
  justify-content: flex-end;
  .closeIcon {
    cursor: pointer;
  }
}
.mbLayer {
  display: none;
}

.indicator {
  display: none;
}
.menuIcon {
  margin-right: 0.5em;
}
@media screen and (max-width: $bp-lg) {
  .fixed {
    position: initial;
    top: 0;
  }
  .menu {
    position: fixed;
    display: none;
    width: 80%;
    right: 12px;
    bottom: 70px;
    font-size: 15px;
  }
  .menu.mbTreeShow {
    display: block;
  }
  .menuTitle {
    display: none;
  }
  .mbLayer {
    display: block;
    position: fixed;
    pointer-events: initial;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.1);
  }
  .indicator {
    display: block;
    position: fixed;
    right: 12px;
    bottom: 24px;
    width: unset;
    height: 36px;
    margin-top: 4px;
    font-size: 1em;
    background-color: $color-main;
    border: 1px solid $color-main;
    box-shadow: $box-shadow $color-emphasis;
    color: $color-white;
    padding: 4px 12px;
    cursor: pointer;
    &:hover {
      border: 1px solid $color-emphasis;
    }
  }
}
