html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif, Microsoft JhengHei;
  font-size: 16px;
  font-weight: 400;
  background-color: $color-grey-0;
  @media screen and (max-width: $bp-sm) {
    font-size: 13px;
  }
}

* {
  -webkit-tap-highlight-color: transparent;
}

button,
a,
input,
div {
  &:focus {
    outline: none;
  }
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

* {
  box-sizing: border-box;
}
// h1 {
//   font-size: 2em;
// }
// h2 {
//   font-size: 1.5em;
// }
// h3 {
//   font-size: 1.17em;
// }
// h4 {
//   font-size: 1em;
// }
// h5 {
//   font-size: 0.8em;
// }
// h6 {
//   font-size: 0.6em;
// }

// @media screen and (max-width: $bp-md) {
//   h1 {
//     font-size: 2.2rem;
//     margin: 20px 0;
//   }
//   h2 {
//     font-size: 1.9rem;
//     margin: 16px 0;
//   }
//   h3 {
//     font-size: 1.6rem;
//     margin: 12px 0;
//   }
//   h4 {
//     font-size: 1.4rem;
//     margin: 8px 0;
//   }
//   h5 {
//     font-size: 1.2rem;
//     margin: 4px 0;
//   }
//   h6 {
//     font-size: 1rem;
//     margin: 4px 0;
//   }
// }

ul {
  padding: 0;
  margin: 0;
}
li {
  list-style-type: none;
  text-decoration: none;
}
.g-mr-auto {
  margin: 0 auto;
}
.g-icon {
  cursor: pointer;
  &:hover {
    opacity: 0.6;
  }
}
.g-link-plain {
  &:hover {
    text-decoration: none;
  }
}
.g-text-center {
  text-align: center;
}
$variant: "main", "emphasis", "grey", "grey-0", "grey-2", "light", "link", "white", "dark";
$colors: $color-main, $color-emphasis, $color-grey, $color-grey-0, $color-grey-2,
  $color-light, $color-link, $color-white, $color-dark;
@each $var in $variant {
  $i: index($variant, $var);
  .g-bg-#{$var} {
    background-color: nth($list: $colors, $n: $i);
  }
  .g-color-#{$var} {
    color: nth($list: $colors, $n: $i);
  }
  .g-border-#{$var} {
    border: 1px solid nth($list: $colors, $n: $i);
  }
}

$ps: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10;
@each $i in $ps {
  .g-m-#{$i} {
    margin: 4px * $i !important;
  }
  .g-my-#{$i} {
    margin-top: 4px * $i !important;
    margin-bottom: 4px * $i !important;
  }
  .g-mx-#{$i} {
    margin-left: 4px * $i !important;
    margin-right: 4px * $i !important;
  }
  .g-mr-#{$i} {
    margin-right: 4px * $i !important;
  }
  .g-mt-#{$i} {
    margin-top: 4px * $i !important;
  }
  .g-mb-#{$i} {
    margin-bottom: 4px * $i !important;
  }
  .g-ml-#{$i} {
    margin-left: 4px * $i !important;
  }

  .g-p-#{$i} {
    padding: 4px * $i !important;
  }
  .g-py-#{$i} {
    padding-top: 4px * $i !important;
    padding-bottom: 4px * $i !important;
  }
  .g-px-#{$i} {
    padding-left: 4px * $i !important;
    padding-right: 4px * $i !important;
  }
  .g-pr-#{$i} {
    padding-right: 4px * $i !important;
  }
  .g-pt-#{$i} {
    padding-top: 4px * $i !important;
  }
  .g-pb-#{$i} {
    padding-bottom: 4px * $i !important;
  }
  .g-pl-#{$i} {
    padding-left: 4px * $i !important;
  }
}
