html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 14px;
  @media screen and (max-width: 596px) {
    font-size: 12px;
  }
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}
h1 {
  font-size: 2.8rem;
  margin: 28px 0;
}
h2 {
  font-size: 2.4rem;
  margin: 24px 0;
}
h3 {
  font-size: 2rem;
  margin: 12px 0;
}
h4 {
  font-size: 1.4rem;
  margin: 8px 0;
}
h5 {
  font-size: 1.2rem;
  margin: 4px 0;
}
h6 {
  font-size: 1rem;
  margin: 4px 0;
}

ul {
  padding: 0;
}
li {
  list-style-type: none;
  text-decoration: none;
}
.g-mr-auto {
  margin: 0 auto;
}
.g-icon {
  cursor: pointer;
  &:hover {
    opacity: 0.6;
  }
}
