html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 14px;
  @media screen and (max-width: 596px) {
    font-size: 12px;
  }
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

@for $i from 1 through 6 {
  h#{$i} {
    font-size: #{(7 - $i) * 0.5}rem;
  }
}

ul {
  padding: 0;
  list-style-type: none;
}
li {
  text-decoration: none;
}
