$gap: 12px;
$margin: 1.5em;
.article {
  line-height: 1.7;
  padding-bottom: 12px;
  font-size: 18px;
  letter-spacing: -0.003em;
  width: 100%;
  overflow-x: auto;
  @media screen and (max-width: $bp) {
    font-size: 16px;
  }
  p {
    margin-block-start: $margin;
    margin-block-end: $margin;
  }
  h1 {
    font-size: 1.7em;
  }
  h2,
  h3 {
    & > a {
      font-size: 0.7em;
      margin-right: 0.2em;
      color: $color-main;
      line-height: 1em;
    }
  }
  h2 {
    padding: 4px 0;
    border-bottom: 1px solid $color-main;
  }
  .link {
    text-decoration: underline;
    color: $color-link;
  }
  pre {
    border-radius: $p;
  }
  ul {
    padding-inline-start: 40px;
    margin-block-start: $margin;
    margin-block-end: $margin;
  }
  li > ul {
    padding-inline-start: 20px;
    margin-block-start: initial;
    margin-block-end: initial;
  }
  p + ul {
    margin-block-start: -$margin/2;
  }
  li {
    list-style-type: inherit;
    text-decoration: initial;
  }
  *:not(pre) code {
    background-color: $color-grey-0;
    color: #888;
    padding: 0 6px;
    font-size: 0.9em;
  }
  pre {
    font-size: 16px !important;
    @media screen and (max-width: $bp) {
      font-size: 15px !important;
    }
  }
  blockquote {
    margin: 0;
    padding: 4px 12px 4px 20px;
    color: $color-main;
    background-color: $color-light;
    font-style: italic;
    border-left: 3px solid $color-main;
    p {
      padding: 0;
    }
  }
  .image {
    width: 100%;
  }
}

// padding above PC breakpoint
@media screen and (min-width: $bp + 1px) {
  .article {
    p {
      padding-left: $gap;
    }
    pre {
      margin-left: $gap !important;
    }
    blockquote {
      margin: 0 0 0 $gap;
    }
  }
}

.declare {
  color: $color-grey-2;
  text-align: center;
  margin: $margin 0;
}
