$gap: 12px;
.article {
  h2 {
    padding: 4px 0;
    border-bottom: 2px solid $color-main;
  }
  a {
    color: $color-link;
  }
  p {
    padding-left: $gap;
  }
  pre {
    margin-left: $gap !important;
    border-radius: $p;
  }
  ul {
    list-style-type: disc;
    padding-inline-start: 40px;
    li {
      list-style-type: disc;
      text-decoration: initial;
    }
  }
  code {
    background-color: lightgrey;
    padding: 0 4px;
  }
}
