$gap: 12px;
$margin: 1.5em;
.article {
  line-height: 1.7;
  padding-bottom: 12px;
  font-size: 18px;
  letter-spacing: -0.003em;
  width: 100%;
  overflow-x: auto;
  @media screen and (max-width: $bp) {
    font-size: 16px;
  }
  p {
    margin-block-start: $margin;
    margin-block-end: $margin;
  }
  h1 {
    font-size: 1.7em;
  }
  h2,
  h3 {
    & > a {
      font-size: 0.7em;
      margin-right: 0.2em;
      color: $color-main;
      line-height: 1em;
    }
  }
  h2 {
    padding: 4px 0;
    border-bottom: 1px solid $color-main;
  }
  .link {
    text-decoration: underline;
    color: $color-link;
  }
  pre {
    border-radius: $p;
  }
  ul {
    padding-inline-start: 40px;
    margin-block-start: $margin;
    margin-block-end: $margin;
  }
  li > ul {
    padding-inline-start: 20px;
    margin-block-start: initial;
    margin-block-end: initial;
  }
  p + ul {
    margin-block-start: -$margin/2;
  }
  li {
    list-style-type: inherit;
    text-decoration: initial;
  }
  *:not(pre) code {
    background-color: $color-grey-0;
    color: #888;
    padding: 0 6px;
    font-size: 0.9em;
  }
  pre {
    font-size: 16px !important;
    @media screen and (max-width: $bp) {
      font-size: 15px !important;
    }
  }
  blockquote {
    margin: 0;
    padding: 4px 12px 4px 20px;
    color: $color-main;
    background-color: $color-light;
    font-style: italic;
    border-left: 3px solid $color-main;
    p {
      padding: 0;
    }
  }
  .image {
    width: 100%;
  }
}

// padding above PC breakpoint
@media screen and (min-width: $bp + 1px) {
  .article {
    p {
      padding-left: $gap;
    }
    pre {
      margin-left: $gap !important;
    }
    blockquote {
      margin: 0 0 0 $gap;
    }
  }
}

.declare {
  color: $color-grey-2;
  text-align: center;
  margin: $margin 0;
}

.mockBody {
  pointer-events: none;
  position: fixed;
  width: 100%;
  right: 0;
  bottom: 0;
  z-index: 999;
}
.mockContent {
  background: none;
  border: none;
  box-shadow: none;
}
.menu {
  pointer-events: initial;
  z-index: 800;
  max-height: 65vh;
  overflow-y: auto;
  display: none;
  box-shadow: $box-shadow $color-emphasis;
  border-radius: 4px;
}
.iconRight {
  display: flex;
  justify-content: flex-end;
  .closeIcon {
    cursor: pointer;
  }
}
.mbLayer {
  display: none;
}
.menu.mbTreeShow {
  display: block;
}
.indicator {
  pointer-events: initial;
  width: 100%;
  margin-top: 4px;
  font-size: 1em;
  background-color: $color-main;
  border: 1px solid $color-main;
  box-shadow: $box-shadow $color-emphasis;
  color: $color-white;
  padding: 4px 12px;
  cursor: pointer;
  &:hover {
    border: 1px solid $color-emphasis;
  }
}
.menuIcon {
  margin-right: 0.5em;
}
@media screen and (max-width: $bp-lg) {
  .mockContent {
    display: none;
  }
  .menu {
    position: fixed;
    width: 80%;
    right: 12px;
    bottom: 64px;
    font-size: 15px;
  }
  .mbLayer {
    display: block;
    position: fixed;
    pointer-events: initial;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.1);
  }
  .indicator {
    position: fixed;
    right: 12px;
    bottom: 24px;
    width: unset;
    height: 36px;
  }
}
