$gap: 12px;
.article {
  padding-bottom: 12px;
  h2 {
    padding: 4px 0;
    border-bottom: 2px solid $color-main;
  }
  a {
    text-decoration: underline;
    color: $color-link;
  }
  pre {
    border-radius: $p;
  }
  ul {
    list-style-type: disc;
    padding-inline-start: 40px;
  }
  li {
    list-style-type: inherit;
    text-decoration: initial;
  }
  code {
    background-color: $color-grey-0;
    color: #888;
    padding: 0 6px;
  }
  blockquote {
    margin: 0;
    padding: 4px 12px 4px 20px;
    color: $color-main;
    background-color: $color-light;
    font-style: italic;
    border-left: 3px solid $color-main;
    p {
      padding: 0;
    }
  }
  img {
    width: 100%;
  }
}

// padding above PC breakpoint
@media screen and (min-width: $bp + 1px) {
  .article {
    p {
      padding-left: $gap;
    }
    pre {
      margin-left: $gap !important;
    }
    blockquote {
      margin: 0 0 0 $gap;
    }
  }
}
