// color
$color-main: lightsalmon;
$color-emphasis: brown;
$color-grey: #bbb;
$color-light: beige;
$color-link: rgba(0, 118, 255, 0.9);
// pixel
$p: 4px;
// break point
$bp-sm: 596px;
$bp-md: 768px;
$bp-lg: 960px;
// shadow
$shadow-px: 1px 1px 5px;
