// color
$color-main: lightsalmon;
$color-emphasis: brown;
$color-grey-0: #eee;
$color-grey: #ddd;
$color-grey-2: #bbb;
$color-light: beige;
$color-link: rgba(0, 118, 255, 0.9);
$color-link-active: blue;
$color-white: #fff;
$color-dark: #000;
// pixel
$p: 4px;
// break point
$bp-sm: 596px;
$bp-md: 768px;
$bp-lg: 960px;
$bp: $bp-md;
// shadow
$shadow-px: 2px 2px 5px;
// app
$app-headerHeight: 200px;
$app-mb-headerHeight: 60px;
$app-navHeight: 100px;
